*{
    margin: 0px;
    padding: 0px;
}
.azeret-mono-normal{
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}

/* shared style  */
.btn-primary{
    padding: 17px 24px;
    background-color: white;
    border-radius: 8px;
    color: #0D1321;
    font-size: 20px;
    font-weight: 600;
}
.btn-secondary{
    padding: 21px 24px;
    background-color: #0D1321;
    border-radius: 8px;
    color: white;
    font-size: 20px;
    font-weight: 600;
}
.bt-optional{
    padding: 12px 20px;
    background-color: white;
    color: #0D1321;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10.5px;
}
.dark-1{
    color: #0D1321;
}
.text-center{
    text-align: center;
    color: #0D1321;

}
.normal-text{
    font-size: 16px;
    line-height: 26px;

}
/* header top section start */
.header-top{
    margin: 0px 150px;
    display: flex;
    justify-content: space-between;
}
.header-title{
    margin-top: 50px;
    font-size: 28px;
    font-weight: 800;
}
.header-top-btn{
    margin-top: 38px;
}
.header-top-btn a, .bt-optional a{
    text-decoration: none;
    color: #0D1321;
}
/* header main start  */
.header-main{
    background-image: url('../assets/Hero-bg.png') ;
}
.header-main-content{
    margin: 26px 221px;
}
.header-main-title{
    font-size: 48px;
    font-weight: 900;
    line-height: 68px;
}

.header-description{
    padding: 24px 73px;
}
.header-main-btn{
    padding-bottom: 45px;
}
.header-main-btn a{
    text-decoration: none;
    color: white;
}
.main-content{
    margin: 0px 152px 0px 148px;
    background-color: rgba(0, 0, 0, .02);
    padding: 80px 97px;
}
.main-content-base{

}
.main-content-text{
    margin: 0px 47px 48px;
}
.main-content-text h2{
    margin-bottom: 24px;
    font-size: 32px;
    font-weight: 800;
}

.theme-content{

}
.sidebar {
    display: flex;
    justify-content: space-between;
    padding: 48px 48px 0px 48px;
    background-color: white;
    margin-bottom: 32px;
}
.left-side{
    width: 50%;
    margin: 10.5px 98.3px 10.5px 0px;
}
.right-side{
    width: 50%;
    text-align: right;
    margin: 48px 0px;
}
.sub-container h2{
    font-size: 24px;
    font-weight: 700;
    margin-right: 85px;
}
.sub-container p{
    margin: 16px 0px 32px 0px;
}
.right-side-even{
    text-align: left;
    margin-left:32px
}
.right-side-even p{
    padding: 10.5px 101px 10.5px 0px;;
}
.left-side-even{
    padding-bottom: 48px;
}
